<%= form_for(@collection) do |f| %>
<%= f.error_messages %>
	<p>
	<%= f.label :name %><br />
	<%= f.text_field :name %>
	</p>
	<p>
	<%= f.label :title %><br />
	<%= f.text_field :title %>
	</p>
	<p>
	<%= f.label :artist %><br />
	<%= f.text_field :artist %>
	<%= f.submit %>
<% end %>
