<h2><%= @album["title"] %> - <%= @album["artists"].first["name"] %> (<%= @album["year"] %>)</h2><% if ((request[:action] != "discogs_view_album") && !current_user.nil? &&    (@album.user_ids.include?(current_user.id))) %>
<p><i class="icon-ok"></i> This album is in one of your collections!  </p>
<% end %>
<h4>Genre<%= "s" if @album["genres"].size > 1 %></h4>
<ul>
<% @album["genres"].each do |genre| %>
<li><%= genre %></li>
<% end %>
</ul>

<h4>Style<%= "s" if @album["styles"].size > 1 %></h4>
<ul>
<% @album["styles"].each do |style| %>
<li><%= style %></li>
<% end %>
</ul>

<% if @album["artists"].size > 1 %>
<h4>Artists</h4>
<table class="table table-striped">
  <tr>
  <th>Artist</th>
  <th>Tracks</th>
  <th>Role</th>
</tr>
<% @album["artists"].each do |artist| %>
<tr>
  <td><%= artist["name"] %></td>
  <td><%= artist["tracks"] %></td>
  <td><%= artist["role"] %></td>
</tr>
<% end %>
</table>
<% end %>

<h4>Tracklist</h4>
<table class="table table-striped">
  <tr>
    <th>Track #</th>
    <th>Name</th>
    <th>Duration</th>
  </tr>
  <% @album["tracklist"].each do |track| %>
  <tr>
    <td><%= track["position"] %></td>
    <td><%= track["title"] %></td>
    <td><%= track["duration"].empty? ? "Data unknown <i class='icon-thumbs-down'></i>".html_safe : track["duration"] %></td>
  </tr>
  <% end %>
</table>


