<%= form_for(@album) do |f| %>
<%= f.error_messages %>

<p>
  <%= f.label :title %><br/>
  <%= f.text_field :title %>
</p>
<p>
  <%= f.label :artist %><br/>
  <%= f.text_field :artist %><br/>
  <%= f.submit %>
  <% end %>