<%= form_for(@album) do |f| %>
<%= f.error_messages %>

<p>
  <%= f.label :title %><br/>
  <%= f.text_field :title %>
</p>
<p>
  <%= f.label :artist %><br/>
  <%= f.text_field :artist %><br/>
</p>
<p>
  <%= f.label :year %><br/>
  <%= f.text_field :year %><br/>
</p>
<p>
  <%= f.label :released %><br/>
  <%= f.text_field :released %><br/>
</p>
<p>
  <%= f.label :notes %><br/>
  <%= f.text_field :notes %><br/>
</p>
<p>
  <%= f.label :labels %><br/>
  <%= f.text_field :labels %><br/>
</p>
<p>
  <%= f.label :genres %><br/>
  <%= f.text_field :genres %><br/>
</p>
  <%= f.submit %>
  <% end %>