<%= form_for(@album, :url => {:action => "discogs_search"}) do |f| %>
<%= f.error_messages %>

<p>
  <%= f.label :title %><br/>
  <%= f.text_field :title %>
</p>
<p>
  <%= f.label :artist %><br/>
  <%= f.text_field :artist %><br/>
</p>
  <%= f.submit %>
  <% end %>
