<%= form_for(@album, :url => {:action => "discogs_search"}) do |f| %>
<%= f.error_messages %>
<p>
  <%= f.label "Search for Album, Artist, or both" %><br/>
  <%= f.text_field :title %>
</p>
  <%= f.submit %>
  <% end %>
