<%= params %>
<table>
  <tr>
    <th>Album</th>
    <th>Artist</th>
    <th>ID</th>
  </tr>
  <%= @search %>
<% @results.each_with_index do |h,_i| %>
<tr>
  <td><%= h[:title] %></td>
  <td><%= h[:artist] %></td>
  <td><%= h[:year] %></td>
  <td><%= link_to 'Add This Album', albums_path(:id => h[:id]), :method => 'POST' %></td>
</tr>
<% end %>
</table>
