<%= params %>
<table>
  <tr>
    <th>Album</th>
    <th>Artist</th>
    <th>ID</th>
  </tr>
<% @results.each_with_index do |h,i| %>
<tr>
  <td><%= h[:album] %></td>
  <td><%= h[:artist] %></td>
  <td><%= h[:id] %></td>
  <td><%= link_to 'Add This Album', new_album_path(:id => h[:id]) %></td>
</tr>
<% end %>
</table>
