<!-- <h2>Add Album</h2>
<% if params[:id] %>
<h1>Add album...</h1>
<% else %>
<%= render "form" %>
<% end %>

 -->
<h2>New Album</h2>
<%= form_for(@album) do |f| %>
<p>
	<%= f.label :title %><br />
	<%= f.text_field :title %>
</p>
<p>
	<%= f.label :artist %><br />
	<%= f.text_field :artist %>
<%= f.submit %>
<% end %>
