!!!
%html
  %head
    %title
      -if content_for?(:title)
        yield(:title)
      -else
        Celluloid
  = stylesheet_link_tag "application", :media => "all"
  = javascript_include_tag "application"
  = csrf_meta_tags
  %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}

  .container
    .navbar
      .navbar-inner
        %ul.nav
          %li{class: currentPageActiveClass(root_path)}
            =link_to "#{image_tag('celluloid.png', :size => '15x15', :class => 'img-circle')}Celluloid".html_safe, root_path, :class => "brand"
          %li{class: currentPageActiveClass(collections_path)}
            =link_to "My Collection", collections_path
          %li{class: currentPageActiveClass(albums_path)}
            =link_to "View All Albums", albums_path
          %li{class: currentPageActiveClass(new_album_path)}
            =link_to "Add Album", new_album_path
          -if !user_signed_in?
            %li{class:currentPageActiveClass(new_user_session_path)}
              =link_to "Log In", user_session_path
            %li{class: currentPageActiveClass(new_user_registration_path)}
              =link_to "Sign Up", new_user_registration_path
          -else
            %li{class: currentPageActiveClass(destroy_user_session_path)}
              =link_to "Log Out", destroy_user_session_path, :method => :delete



    .row
      .span12
        .userinfo
          -if user_signed_in?
            %p.muted
              Hey there, #{ current_user.email }!
        .flash
          -flash.each do |key,value|
            %div{class: alertStyleClassGenerator(key) }
              =value


    =yield
    =diagnosticInformation
    %hr

    .row.footer
      .span12
        %p.muted.text-center
          Made with love (and thin mints) by #{twitterLinkMaker("allynfolksjr")} and #{twitterLinkMaker("grrlcoder")} in Seattle.
