<!DOCTYPE html>
<html>
<head>
  <title>
    <% if content_for?(:title) %>
    <%= yield(:title) %>
    <% else %>
    Celluloid
    <% end %>
  </title>
  <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="container">
    <div class="navbar">
      <div class="navbar-inner">
        <ul class="nav"><li <%= currentPageActiveClass(root_path) %>>
          <%= link_to "#{image_tag('celluloid.png', :size => '15x15', :class => 'img-circle')} Celluloid".html_safe, root_path, :class => "brand" %></li>
          <li <%= currentPageActiveClass(collections_path) %>><%= link_to "My Collection", collections_path %></li>
          <li <%= currentPageActiveClass(albums_path) %>><%= link_to "View All Albums", albums_path %></li>
          <li <%= currentPageActiveClass(new_album_path) %>><%= link_to "Add Album", new_album_path %></li>
          <% if !user_signed_in? %>
          <li <%= currentPageActiveClass(new_user_session_path) %>><%= link_to "Log In",
          user_session_path %></li>
          <li <%= currentPageActiveClass(new_user_registration_path) %>><%= link_to "Sign Up", new_user_registration_path %></li>
          <% else %>
          <li <%= currentPageActiveClass(destroy_user_session_path) %>><%= link_to "Log Out", destroy_user_session_path, :method => :delete %></li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="span12">
        <% flash.each do |key,value| %>
        <div class='<%= alertStyleClassGenerator(key) %>'>
         <%= value %>
       </div>
       <% end %>
     </div>
   </div>

   <nav>
    <% if user_signed_in? %>
    Hey there, <%= current_user.email %>!
    <br>
    <% end %>
  </nav>

  <%= yield %>

  <%= diagnosticInformation %>
</div>
</body>
</html>
